---
import Protected from "../components/Protected.astro";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>pstlnc</title>
    <meta name="robots" content="noindex,nofollow" />
  </head>
  <body style="margin:0;padding:0;">
    <Protected />
  </body>
</html>
