---
const works = [
  "Lookbook",
  "Tshirt 1",
  "Tshirt 2",
  "Tshirt 3",
  "Tshirt 4",
  "LS Tee 1",
  "Hoodie 1",
  "LS Shirt 1",
  "LS Shirt 2",
  "Deep Pocket Jacket 1",
  "Pant 1",
  "Pins",
  "How to Order",
  "For More Propaganda",
];
---
<header class="brandbar" role="banner">
  <svg class="brandbar__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 935 1380 183" role="img" aria-label="PROPAGANDA">
    <path d="M102.94,940.91c8.82,0,16.24,1.48,22.25,4.45,6.01,2.97,10.86,6.86,14.55,11.67,3.69,4.81,6.33,10.31,7.94,16.48,1.6,6.18,2.41,12.47,2.41,18.88,0,8.82-1.32,16.52-3.97,23.09-2.65,6.58-6.34,11.95-11.07,16.12-4.73,4.17-10.46,7.3-17.2,9.38-6.74,2.09-14.19,3.13-22.37,3.13h-18.52v68.56h-34.64v-171.75h60.62ZM92.36,1018.61c6.89,0,12.47-2.08,16.72-6.25,4.25-4.17,6.38-10.66,6.38-19.48s-1.85-15.23-5.53-19.72c-3.69-4.49-9.86-6.74-18.52-6.74h-14.43v52.2h15.4Z"/>
    <path d="M231.16,940.91c14.43,0,25.66,3.65,33.68,10.94,8.02,7.3,12.03,18.4,12.03,33.32,0,11.55-2.33,20.97-6.98,28.26-4.65,7.3-11.87,11.99-21.65,14.07v.48c8.66,1.29,14.99,4.09,19,8.42,4.01,4.33,6.49,11.31,7.46,20.93.32,3.21.56,6.7.72,10.46.16,3.77.32,7.98.48,12.63.32,9.14.8,16.12,1.44,20.93.96,4.81,3.04,8.1,6.25,9.86v1.44h-37.53c-1.77-2.41-2.89-5.17-3.37-8.3s-.8-6.38-.96-9.74l-.96-32.96c-.32-6.74-2.01-12.03-5.05-15.88-3.05-3.85-8.18-5.77-15.4-5.77h-18.52v72.65h-34.64v-171.75h63.99ZM216.24,1015.96c8.34,0,14.75-1.96,19.24-5.89,4.49-3.93,6.74-10.54,6.74-19.84,0-15.88-8.02-23.81-24.05-23.81h-16.36v49.55h14.43Z"/>
    <path d="M299.11,990.82c1.2-10.98,3.85-20.41,7.94-28.26,4.09-7.86,9.98-13.99,17.68-18.4,7.7-4.41,18.04-6.62,31.03-6.62s23.33,2.21,31.03,6.62c7.7,4.41,13.59,10.55,17.68,18.4,4.09,7.86,6.74,17.28,7.94,28.26,1.2,10.99,1.8,22.97,1.8,35.96s-.6,25.18-1.8,36.08c-1.2,10.91-3.85,20.29-7.94,28.14-4.09,7.86-9.98,13.87-17.68,18.04-7.7,4.17-18.04,6.25-31.03,6.25s-23.33-2.09-31.03-6.25-13.59-10.18-17.68-18.04c-4.09-7.86-6.74-17.24-7.94-28.14-1.2-10.9-1.8-22.93-1.8-36.08s.6-24.98,1.8-35.96ZM332.79,1056.25c.56,8.1,1.68,14.67,3.37,19.72s4.09,8.74,7.22,11.07c3.13,2.33,7.25,3.49,12.39,3.49s9.26-1.16,12.39-3.49c3.13-2.32,5.53-6.01,7.22-11.07,1.68-5.05,2.8-11.62,3.37-19.72.56-8.1.84-17.92.84-29.47s-.28-21.33-.84-29.35c-.56-8.02-1.68-14.59-3.37-19.72-1.68-5.13-4.09-8.86-7.22-11.19-3.13-2.32-7.26-3.49-12.39-3.49s-9.26,1.17-12.39,3.49c-3.13,2.33-5.53,6.05-7.22,11.19-1.68,5.13-2.81,11.71-3.37,19.72-.56,8.02-.84,17.8-.84,29.35s.28,21.37.84,29.47Z"/>
    <path d="M495.28,940.91c8.82,0,16.24,1.48,22.25,4.45,6.01,2.97,10.86,6.86,14.55,11.67,3.69,4.81,6.33,10.31,7.94,16.48,1.6,6.18,2.41,12.47,2.41,18.88,0,8.82-1.32,16.52-3.97,23.09-2.65,6.58-6.34,11.95-11.07,16.12-4.73,4.17-10.46,7.3-17.2,9.38-6.74,2.09-14.19,3.13-22.37,3.13h-18.52v68.56h-34.64v-171.75h60.62ZM484.69,1018.61c6.89,0,12.47-2.08,16.72-6.25,4.25-4.17,6.38-10.66,6.38-19.48s-1.85-15.23-5.53-19.72c-3.69-4.49-9.86-6.74-18.52-6.74h-14.43v52.2h15.4Z"/>
    <path d="M626.86,940.91l45.46,171.75h-36.08l-7.94-36.32h-45.7l-7.94,36.32h-36.08l45.46-171.75h42.82ZM622.29,1047.96l-16.6-77.22h-.48l-16.6,77.22h33.68Z"/>
    <path d="M759.52,982.04c-.72-3.37-1.89-6.45-3.49-9.26-1.61-2.8-3.65-5.13-6.13-6.98-2.49-1.84-5.5-2.77-9.02-2.77-8.34,0-14.35,4.65-18.04,13.95-3.69,9.3-5.53,24.7-5.53,46.19,0,10.26.32,19.57.96,27.9.64,8.34,1.8,15.44,3.49,21.29,1.68,5.86,4.09,10.34,7.22,13.47,3.13,3.13,7.17,4.69,12.15,4.69,2.08,0,4.37-.56,6.86-1.68,2.48-1.12,4.81-2.8,6.98-5.05,2.17-2.24,3.97-5.09,5.41-8.54,1.44-3.45,2.16-7.49,2.16-12.15v-17.56h-22.85v-25.5h56.05v92.61h-25.5v-15.88h-.48c-4.17,6.74-9.18,11.51-15.03,14.31-5.86,2.8-12.87,4.21-21.05,4.21-10.58,0-19.21-1.85-25.86-5.53-6.66-3.69-11.87-9.38-15.64-17.08-3.77-7.7-6.29-17.2-7.58-28.5-1.29-11.31-1.92-24.42-1.92-39.33s.92-27.1,2.77-38.01c1.84-10.9,5.01-20,9.5-27.3,4.49-7.3,10.42-12.79,17.8-16.48,7.37-3.69,16.6-5.53,27.66-5.53,18.92,0,32.55,4.69,40.89,14.07,8.34,9.38,12.51,22.81,12.51,40.29h-33.2c0-3.21-.36-6.5-1.08-9.86Z"/>
    <path d="M894.35,940.91l45.46,171.75h-36.08l-7.94-36.32h-45.7l-7.94,36.32h-36.08l45.46-171.75h42.82ZM889.78,1047.96l-16.6-77.22h-.48l-16.6,77.22h33.68Z"/>
    <path d="M1025.93,940.91h39.93v171.75h-31.75v-120.27s-.48,0-.48,0l-42.34,120.27h-39.45v-171.75h31.75v117.63s.48,0,.48,0l41.86-117.63Z"/>
    <path d="M1148.37,940.91c12.03,0,21.73,1.97,29.11,5.89,7.37,3.93,13.11,9.54,17.2,16.84,4.09,7.3,6.86,16.08,8.3,26.34,1.44,10.26,2.17,21.73,2.17,34.4,0,15.08-.92,28.19-2.77,39.33-1.85,11.15-5.01,20.33-9.5,27.54-4.49,7.22-10.51,12.59-18.04,16.12-7.54,3.53-17.08,5.29-28.62,5.29h-54.6v-171.75h56.77ZM1141.63,1087.16c6.09,0,10.98-1.04,14.67-3.13,3.69-2.08,6.62-5.53,8.78-10.34,2.17-4.81,3.61-11.14,4.33-19,.72-7.86,1.08-17.64,1.08-29.35,0-9.78-.32-18.36-.96-25.74-.64-7.37-1.97-13.51-3.97-18.4-2.01-4.89-4.97-8.58-8.9-11.06-3.93-2.48-9.18-3.73-15.76-3.73h-14.67v120.75h15.39Z"/>
    <path d="M1304.24,940.91l45.46,171.75h-36.08l-7.94-36.32h-45.7l-7.94,36.32h-36.08l45.46-171.75h42.82ZM1299.67,1047.96l-16.6-77.22h-.48l-16.6,77.22h33.68Z"/>
  </svg>
</header>

<div id="smooth-wrapper">
  <div id="smooth-content">

<section class="about" aria-labelledby="about-heading">
  <h2 id="about-heading" class="about__eyebrow">About the Collection</h2>
</section>

<section class="dossier" aria-label="dossier">
  <img class="dossier__img" src="/brand%20assets/fixx.svg" alt="" loading="eager" decoding="async" />
</section>

<main class="page">
  <header class="catalog-header" aria-labelledby="subjects-heading">
    <svg class="catalog-header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="40 938 1312 178" role="img" aria-label="PROPAGANDA">
      <path d="M102.94,940.91c8.82,0,16.24,1.48,22.25,4.45,6.01,2.97,10.86,6.86,14.55,11.67,3.69,4.81,6.33,10.31,7.94,16.48,1.6,6.18,2.41,12.47,2.41,18.88,0,8.82-1.32,16.52-3.97,23.09-2.65,6.58-6.34,11.95-11.07,16.12-4.73,4.17-10.46,7.3-17.2,9.38-6.74,2.09-14.19,3.13-22.37,3.13h-18.52v68.56h-34.64v-171.75h60.62ZM92.36,1018.61c6.89,0,12.47-2.08,16.72-6.25,4.25-4.17,6.38-10.66,6.38-19.48s-1.85-15.23-5.53-19.72c-3.69-4.49-9.86-6.74-18.52-6.74h-14.43v52.2h15.4Z"/>
      <path d="M231.16,940.91c14.43,0,25.66,3.65,33.68,10.94,8.02,7.3,12.03,18.4,12.03,33.32,0,11.55-2.33,20.97-6.98,28.26-4.65,7.3-11.87,11.99-21.65,14.07v.48c8.66,1.29,14.99,4.09,19,8.42,4.01,4.33,6.49,11.31,7.46,20.93.32,3.21.56,6.7.72,10.46.16,3.77.32,7.98.48,12.63.32,9.14.8,16.12,1.44,20.93.96,4.81,3.04,8.1,6.25,9.86v1.44h-37.53c-1.77-2.41-2.89-5.17-3.37-8.3s-.8-6.38-.96-9.74l-.96-32.96c-.32-6.74-2.01-12.03-5.05-15.88-3.05-3.85-8.18-5.77-15.4-5.77h-18.52v72.65h-34.64v-171.75h63.99ZM216.24,1015.96c8.34,0,14.75-1.96,19.24-5.89,4.49-3.93,6.74-10.54,6.74-19.84,0-15.88-8.02-23.81-24.05-23.81h-16.36v49.55h14.43Z"/>
      <path d="M299.11,990.82c1.2-10.98,3.85-20.41,7.94-28.26,4.09-7.86,9.98-13.99,17.68-18.4,7.7-4.41,18.04-6.62,31.03-6.62s23.33,2.21,31.03,6.62c7.7,4.41,13.59,10.55,17.68,18.4,4.09,7.86,6.74,17.28,7.94,28.26,1.2,10.99,1.8,22.97,1.8,35.96s-.6,25.18-1.8,36.08c-1.2,10.91-3.85,20.29-7.94,28.14-4.09,7.86-9.98,13.87-17.68,18.04-7.7,4.17-18.04,6.25-31.03,6.25s-23.33-2.09-31.03-6.25-13.59-10.18-17.68-18.04c-4.09-7.86-6.74-17.24-7.94-28.14-1.2-10.9-1.8-22.93-1.8-36.08s.6-24.98,1.8-35.96ZM332.79,1056.25c.56,8.1,1.68,14.67,3.37,19.72s4.09,8.74,7.22,11.07c3.13,2.33,7.25,3.49,12.39,3.49s9.26-1.16,12.39-3.49c3.13-2.32,5.53-6.01,7.22-11.07,1.68-5.05,2.8-11.62,3.37-19.72.56-8.1.84-17.92.84-29.47s-.28-21.33-.84-29.35c-.56-8.02-1.68-14.59-3.37-19.72-1.68-5.13-4.09-8.86-7.22-11.19-3.13-2.32-7.26-3.49-12.39-3.49s-9.26,1.17-12.39,3.49c-3.13,2.33-5.53,6.05-7.22,11.19-1.68,5.13-2.81,11.71-3.37,19.72-.56,8.02-.84,17.8-.84,29.35s.28,21.37.84,29.47Z"/>
      <path d="M495.28,940.91c8.82,0,16.24,1.48,22.25,4.45,6.01,2.97,10.86,6.86,14.55,11.67,3.69,4.81,6.33,10.31,7.94,16.48,1.6,6.18,2.41,12.47,2.41,18.88,0,8.82-1.32,16.52-3.97,23.09-2.65,6.58-6.34,11.95-11.07,16.12-4.73,4.17-10.46,7.3-17.2,9.38-6.74,2.09-14.19,3.13-22.37,3.13h-18.52v68.56h-34.64v-171.75h60.62ZM484.69,1018.61c6.89,0,12.47-2.08,16.72-6.25,4.25-4.17,6.38-10.66,6.38-19.48s-1.85-15.23-5.53-19.72c-3.69-4.49-9.86-6.74-18.52-6.74h-14.43v52.2h15.4Z"/>
      <path d="M626.86,940.91l45.46,171.75h-36.08l-7.94-36.32h-45.7l-7.94,36.32h-36.08l45.46-171.75h42.82ZM622.29,1047.96l-16.6-77.22h-.48l-16.6,77.22h33.68Z"/>
      <path d="M759.52,982.04c-.72-3.37-1.89-6.45-3.49-9.26-1.61-2.8-3.65-5.13-6.13-6.98-2.49-1.84-5.5-2.77-9.02-2.77-8.34,0-14.35,4.65-18.04,13.95-3.69,9.3-5.53,24.7-5.53,46.19,0,10.26.32,19.57.96,27.9.64,8.34,1.8,15.44,3.49,21.29,1.68,5.86,4.09,10.34,7.22,13.47,3.13,3.13,7.17,4.69,12.15,4.69,2.08,0,4.37-.56,6.86-1.68,2.48-1.12,4.81-2.8,6.98-5.05,2.17-2.24,3.97-5.09,5.41-8.54,1.44-3.45,2.16-7.49,2.16-12.15v-17.56h-22.85v-25.5h56.05v92.61h-25.5v-15.88h-.48c-4.17,6.74-9.18,11.51-15.03,14.31-5.86,2.8-12.87,4.21-21.05,4.21-10.58,0-19.21-1.85-25.86-5.53-6.66-3.69-11.87-9.38-15.64-17.08-3.77-7.7-6.29-17.2-7.58-28.5-1.29-11.31-1.92-24.42-1.92-39.33s.92-27.1,2.77-38.01c1.84-10.9,5.01-20,9.5-27.3,4.49-7.3,10.42-12.79,17.8-16.48,7.37-3.69,16.6-5.53,27.66-5.53,18.92,0,32.55,4.69,40.89,14.07,8.34,9.38,12.51,22.81,12.51,40.29h-33.2c0-3.21-.36-6.5-1.08-9.86Z"/>
      <path d="M894.35,940.91l45.46,171.75h-36.08l-7.94-36.32h-45.7l-7.94,36.32h-36.08l45.46-171.75h42.82ZM889.78,1047.96l-16.6-77.22h-.48l-16.6,77.22h33.68Z"/>
      <path d="M1025.93,940.91h39.93v171.75h-31.75v-120.27s-.48,0-.48,0l-42.34,120.27h-39.45v-171.75h31.75v117.63s.48,0,.48,0l41.86-117.63Z"/>
      <path d="M1148.37,940.91c12.03,0,21.73,1.97,29.11,5.89,7.37,3.93,13.11,9.54,17.2,16.84,4.09,7.3,6.86,16.08,8.3,26.34,1.44,10.26,2.17,21.73,2.17,34.4,0,15.08-.92,28.19-2.77,39.33-1.85,11.15-5.01,20.33-9.5,27.54-4.49,7.22-10.51,12.59-18.04,16.12-7.54,3.53-17.08,5.29-28.62,5.29h-54.6v-171.75h56.77ZM1141.63,1087.16c6.09,0,10.98-1.04,14.67-3.13,3.69-2.08,6.62-5.53,8.78-10.34,2.17-4.81,3.61-11.14,4.33-19,.72-7.86,1.08-17.64,1.08-29.35,0-9.78-.32-18.36-.96-25.74-.64-7.37-1.97-13.51-3.97-18.4-2.01-4.89-4.97-8.58-8.9-11.06-3.93-2.48-9.18-3.73-15.76-3.73h-14.67v120.75h15.39Z"/>
      <path d="M1304.24,940.91l45.46,171.75h-36.08l-7.94-36.32h-45.7l-7.94,36.32h-36.08l45.46-171.75h42.82ZM1299.67,1047.96l-16.6-77.22h-.48l-16.6,77.22h33.68Z"/>
    </svg>
    <h2 id="subjects-heading" class="catalog-header__heading">Subjects :</h2>
  </header>
  <ul class="works" aria-label="works">
    {works.map((w) => (
      <li class="work">
        <a class="work__link" href="#">{w}</a>
      </li>
    ))}
  </ul>
</main>

<footer class="footer" aria-label="emblem">
  <svg class="footer__emblem" xmlns="http://www.w3.org/2000/svg" viewBox="20 840 1340 420" role="img" aria-label="PSTLNC">
    <g>
      <polygon points="79 944.56 67 907.62 28.16 907.62 59.58 884.79 47.58 847.86 79 870.69 110.42 847.86 98.42 884.79 129.83 907.62 91 907.62 79 944.56"/>
      <polygon points="201.2 944.56 189.2 907.62 150.36 907.62 181.78 884.79 169.78 847.86 201.2 870.69 232.62 847.86 220.62 884.79 252.03 907.62 213.2 907.62 201.2 944.56"/>
      <polygon points="323.4 944.56 311.4 907.62 272.56 907.62 303.98 884.79 291.98 847.86 323.4 870.69 354.82 847.86 342.82 884.79 374.23 907.62 335.4 907.62 323.4 944.56"/>
      <polygon points="445.6 944.56 433.6 907.62 394.76 907.62 426.18 884.79 414.18 847.86 445.6 870.69 477.02 847.86 465.02 884.79 496.44 907.62 457.6 907.62 445.6 944.56"/>
      <polygon points="567.8 944.56 555.8 907.62 516.96 907.62 548.38 884.79 536.38 847.86 567.8 870.69 599.22 847.86 587.22 884.79 618.64 907.62 579.8 907.62 567.8 944.56"/>
      <polygon points="690 944.56 678 907.62 639.16 907.62 670.58 884.79 658.58 847.86 690 870.69 721.42 847.86 709.42 884.79 740.84 907.62 702 907.62 690 944.56"/>
      <polygon points="812.2 944.56 800.2 907.62 761.36 907.62 792.78 884.79 780.78 847.86 812.2 870.69 843.62 847.86 831.62 884.79 863.04 907.62 824.2 907.62 812.2 944.56"/>
      <polygon points="934.4 944.56 922.4 907.62 883.56 907.62 914.98 884.79 902.98 847.86 934.4 870.69 965.82 847.86 953.82 884.79 985.24 907.62 946.4 907.62 934.4 944.56"/>
      <polygon points="1056.6 944.56 1044.6 907.62 1005.77 907.62 1037.18 884.79 1025.18 847.86 1056.6 870.69 1088.02 847.86 1076.02 884.79 1107.44 907.62 1068.6 907.62 1056.6 944.56"/>
      <polygon points="1178.8 944.56 1166.8 907.62 1127.97 907.62 1159.38 884.79 1147.38 847.86 1178.8 870.69 1210.22 847.86 1198.22 884.79 1229.64 907.62 1190.8 907.62 1178.8 944.56"/>
      <polygon points="1301 944.56 1289 907.62 1250.17 907.62 1281.58 884.79 1269.58 847.86 1301 870.69 1332.42 847.86 1320.42 884.79 1351.84 907.62 1313 907.62 1301 944.56"/>
    </g>
    <g>
      <polygon points="1301 1155.44 1313 1192.38 1351.84 1192.38 1320.42 1215.2 1332.42 1252.14 1301 1229.31 1269.58 1252.14 1281.58 1215.2 1250.17 1192.38 1289 1192.38 1301 1155.44"/>
      <polygon points="1178.8 1155.44 1190.8 1192.38 1229.64 1192.38 1198.22 1215.2 1210.22 1252.14 1178.8 1229.31 1147.38 1252.14 1159.38 1215.2 1127.97 1192.38 1166.8 1192.38 1178.8 1155.44"/>
      <polygon points="1056.6 1155.44 1068.6 1192.38 1107.44 1192.38 1076.02 1215.2 1088.02 1252.14 1056.6 1229.31 1025.18 1252.14 1037.18 1215.2 1005.77 1192.38 1044.6 1192.38 1056.6 1155.44"/>
      <polygon points="934.4 1155.44 946.4 1192.38 985.24 1192.38 953.82 1215.2 965.82 1252.14 934.4 1229.31 902.98 1252.14 914.98 1215.2 883.56 1192.38 922.4 1192.38 934.4 1155.44"/>
      <polygon points="812.2 1155.44 824.2 1192.38 863.04 1192.38 831.62 1215.2 843.62 1252.14 812.2 1229.31 780.78 1252.14 792.78 1215.2 761.36 1192.38 800.2 1192.38 812.2 1155.44"/>
      <polygon points="690 1155.44 702 1192.38 740.84 1192.38 709.42 1215.21 721.42 1252.14 690 1229.31 658.58 1252.14 670.58 1215.21 639.16 1192.38 678 1192.38 690 1155.44"/>
      <polygon points="567.8 1155.44 579.8 1192.38 618.64 1192.38 587.22 1215.21 599.22 1252.14 567.8 1229.31 536.38 1252.14 548.38 1215.21 516.96 1192.38 555.8 1192.38 567.8 1155.44"/>
      <polygon points="445.6 1155.44 457.6 1192.38 496.44 1192.38 465.02 1215.21 477.02 1252.14 445.6 1229.31 414.18 1252.14 426.18 1215.21 394.76 1192.38 433.6 1192.38 445.6 1155.44"/>
      <polygon points="323.4 1155.44 335.4 1192.38 374.23 1192.38 342.82 1215.21 354.82 1252.14 323.4 1229.31 291.98 1252.14 303.98 1215.21 272.56 1192.38 311.4 1192.38 323.4 1155.44"/>
      <polygon points="201.2 1155.44 213.2 1192.38 252.03 1192.38 220.62 1215.21 232.62 1252.14 201.2 1229.31 169.78 1252.14 181.78 1215.21 150.36 1192.38 189.2 1192.38 201.2 1155.44"/>
      <polygon points="79 1155.44 91 1192.38 129.83 1192.38 98.42 1215.21 110.42 1252.14 79 1229.31 47.58 1252.14 59.58 1215.21 28.16 1192.38 67 1192.38 79 1155.44"/>
    </g>
    <g>
      <path d="M205.26,968.7c8.39,0,15.44,1.41,21.16,4.23,5.72,2.82,10.33,6.52,13.84,11.09,3.51,4.58,6.02,9.8,7.55,15.67,1.52,5.87,2.29,11.86,2.29,17.96,0,8.39-1.26,15.71-3.77,21.96-2.52,6.26-6.03,11.36-10.52,15.33-4.5,3.97-9.95,6.94-16.36,8.92-6.41,1.98-13.5,2.97-21.27,2.97h-17.61v65.2h-32.94v-163.34h57.65ZM195.19,1042.59c6.56,0,11.86-1.98,15.9-5.95,4.04-3.96,6.06-10.14,6.06-18.53s-1.75-14.49-5.26-18.76c-3.51-4.27-9.38-6.41-17.61-6.41h-13.73v49.64h14.64Z"/>
      <path d="M372.94,1085.82c0,3.81.3,7.29.92,10.41.61,3.13,1.75,5.76,3.43,7.89,1.68,2.14,3.92,3.81,6.75,5.03,2.82,1.22,6.37,1.83,10.64,1.83,5.03,0,9.57-1.64,13.61-4.92,4.04-3.28,6.06-8.35,6.06-15.21,0-3.66-.5-6.82-1.49-9.49-.99-2.67-2.63-5.07-4.92-7.21-2.29-2.13-5.3-4.08-9.04-5.83-3.74-1.75-8.35-3.55-13.84-5.38-7.32-2.44-13.65-5.11-18.99-8.01-5.34-2.9-9.8-6.29-13.38-10.18-3.58-3.89-6.22-8.39-7.89-13.5-1.68-5.11-2.52-11.02-2.52-17.73,0-16.16,4.5-28.21,13.5-36.14,9-7.93,21.35-11.9,37.06-11.9,7.32,0,14.07.8,20.25,2.4s11.51,4.2,16.01,7.78c4.5,3.58,8.01,8.16,10.52,13.73,2.52,5.57,3.77,12.24,3.77,20.02v4.58h-31.57c0-7.78-1.37-13.76-4.12-17.96-2.75-4.19-7.32-6.29-13.73-6.29-3.66,0-6.71.54-9.15,1.6-2.44,1.07-4.39,2.48-5.83,4.23-1.45,1.75-2.44,3.77-2.97,6.06-.54,2.29-.8,4.65-.8,7.09,0,5.03,1.06,9.26,3.2,12.7,2.13,3.43,6.71,6.6,13.73,9.49l25.39,10.98c6.25,2.75,11.36,5.6,15.33,8.58,3.96,2.97,7.13,6.18,9.49,9.61,2.36,3.43,4,7.21,4.92,11.32.92,4.12,1.37,8.69,1.37,13.73,0,17.24-5,29.78-14.98,37.63-9.99,7.86-23.91,11.78-41.75,11.78s-31.91-4.04-39.92-12.12c-8.01-8.08-12.01-19.67-12.01-34.77v-6.63h32.94v4.8Z"/>
      <path d="M640.82,995.69h-35.69v136.34h-32.94v-136.34h-35.69v-26.99h104.32v26.99Z"/>
      <path d="M735.07,968.7h32.94v136.34h58.33v26.99h-91.28v-163.34Z"/>
      <path d="M991.51,968.7h37.97v163.34h-30.2v-114.38s-.46,0-.46,0l-40.26,114.38h-37.52v-163.34h30.2v111.86s.46,0,.46,0l39.8-111.86Z"/>
      <path d="M1197.96,997.86c-2.82-5.41-7.97-8.12-15.44-8.12-4.12,0-7.51,1.11-10.18,3.32-2.67,2.21-4.77,5.8-6.29,10.75-1.53,4.96-2.6,11.44-3.2,19.44-.61,8.01-.92,17.81-.92,29.4,0,12.35.42,22.34,1.26,29.97.84,7.63,2.13,13.54,3.89,17.73,1.75,4.2,3.96,7.02,6.63,8.46,2.67,1.45,5.75,2.17,9.26,2.17,2.9,0,5.6-.49,8.12-1.49,2.52-.99,4.69-2.97,6.52-5.95,1.83-2.97,3.28-7.17,4.35-12.58,1.07-5.41,1.6-12.54,1.6-21.39h32.94c0,8.85-.69,17.24-2.06,25.16-1.37,7.93-3.93,14.87-7.66,20.82-3.74,5.95-9,10.6-15.79,13.95-6.79,3.35-15.59,5.03-26.42,5.03-12.35,0-22.19-1.98-29.51-5.95-7.32-3.96-12.93-9.68-16.81-17.16-3.89-7.47-6.41-16.39-7.55-26.76-1.14-10.37-1.72-21.81-1.72-34.31s.57-23.75,1.72-34.2c1.14-10.44,3.66-19.41,7.55-26.88,3.89-7.47,9.49-13.3,16.81-17.5,7.32-4.19,17.16-6.29,29.51-6.29s21.01,1.91,27.79,5.72c6.78,3.81,11.86,8.66,15.21,14.53,3.35,5.87,5.45,12.2,6.29,18.99.84,6.79,1.26,13.15,1.26,19.1h-32.94c0-11.9-1.41-20.55-4.23-25.96Z"/>
    </g>
  </svg>
</footer>

  </div>
</div>

<script is:inline>
  (function () {
    if (window.matchMedia("(prefers-reduced-motion: reduce)").matches) return;

    function init() {
      if (!window.gsap || !window.ScrollSmoother || !window.ScrollTrigger) return;
      if (window.ScrollSmoother.get()) return;
      if (!document.getElementById("smooth-wrapper")) return;
      window.gsap.registerPlugin(window.ScrollTrigger, window.ScrollSmoother);
      window.ScrollSmoother.create({
        wrapper: "#smooth-wrapper",
        content: "#smooth-content",
        smooth: 1.2,
        effects: true,
        // Match desktop smoothing on touch devices too.
        smoothTouch: 1.2,
        normalizeScroll: true,
        ignoreMobileResize: true,
      });
    }

    // Keep placeholder hash-only anchors from triggering scroll/URL change
    // while real destinations don't exist yet.
    document.addEventListener("click", function (e) {
      const a = e.target && e.target.closest && e.target.closest('a[href="#"]');
      if (a) e.preventDefault();
    });

    if (window.gsap && window.ScrollSmoother && window.ScrollTrigger) {
      init();
      return;
    }

    // Standalone render (dev /protected, no gate): bootstrap GSAP from CDN.
    const cdn = "https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/";
    const libs = ["gsap.min.js", "ScrollTrigger.min.js", "ScrollSmoother.min.js"];
    (function load(i) {
      if (i >= libs.length) return init();
      const s = document.createElement("script");
      s.src = cdn + libs[i];
      s.onload = () => load(i + 1);
      s.onerror = () => load(i + 1);
      document.head.appendChild(s);
    })(0);
  })();
</script>

<style is:global>
  @font-face {
    font-family: "PSTLNC Neue";
    src:
      url("/fonts/HelveticaNeue.ttc") format("truetype-collection"),
      url("/fonts/HelveticaNeue.ttc") format("truetype"),
      local("Helvetica Neue"),
      local("HelveticaNeue");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  html, body {
    background: #d8d8d8;
    color: #0c0c0c;
    margin: 0;
    font-family: "PSTLNC Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6, p, li, span {
    font-family: "PSTLNC Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  :root { --bar-h: 4.5rem; }

  .brandbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #181614;
    padding:
      max(0.9rem, env(safe-area-inset-top))
      max(1.25rem, env(safe-area-inset-right))
      0.9rem
      max(1.25rem, env(safe-area-inset-left));
    text-align: center;
    line-height: 1;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  }

  #smooth-content {
    padding-top: var(--bar-h);
  }
  .brandbar__logo {
    display: inline-block;
    height: clamp(1.6rem, 5.6vw, 2.3rem);
    width: auto;
    fill: #ea242a;
  }
  @media (min-width: 720px) {
    .brandbar {
      padding-top: max(1.05rem, env(safe-area-inset-top));
      padding-bottom: 1.05rem;
    }
    .brandbar__logo { height: 2.15rem; }
  }
</style>

<style>
  .about {
    background: #d8d8d8;
    color: #0c0c0c;
    font-family: "PSTLNC Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding:
      clamp(1.75rem, 5vh, 3.5rem)
      max(1.25rem, env(safe-area-inset-right))
      clamp(1.25rem, 3.5vh, 2.5rem)
      max(1.25rem, env(safe-area-inset-left));
  }
  .about__eyebrow {
    margin: 0;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #1a1a1a;
  }
  @media (min-width: 720px) {
    .about__eyebrow { font-size: 0.875rem; letter-spacing: 0.34em; }
  }

  .dossier {
    width: 100%;
    background: #d8d8d8;
    padding:
      clamp(0.5rem, 1.5vh, 1.25rem)
      max(1rem, env(safe-area-inset-right))
      clamp(0.5rem, 1.5vh, 1.25rem)
      max(1rem, env(safe-area-inset-left));
    box-sizing: border-box;
  }
  .dossier__img {
    width: 100%;
    height: auto;
    max-height: calc(100dvh - 4.5rem);
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .page {
    --paper: #d8d8d8;
    --ink: #0c0c0c;
    --bar-h: 4.5rem;
    background: var(--paper);
    color: var(--ink);
    font-family: "PSTLNC Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.5rem, 4vh, 3rem);
    padding:
      clamp(1.25rem, 3.5vh, 2rem)
      max(1.25rem, env(safe-area-inset-right))
      clamp(2rem, 5vh, 3rem)
      max(1.25rem, env(safe-area-inset-left));
    box-sizing: border-box;
  }
  @media (min-width: 720px) {
    .page {
      min-height: calc(100dvh - var(--bar-h));
      justify-content: center;
    }
  }

  .catalog-header {
    width: 100%;
    max-width: 44rem;
  }
  .catalog-header__logo {
    display: block;
    width: 100%;
    height: auto;
    fill: #ea242a;
    margin: 0 0 clamp(0.875rem, 2.5vh, 1.75rem);
  }
  .catalog-header__heading {
    margin: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.0625rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--ink);
  }

  .works {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 44rem;
  }

  .work {
    font-size: 1.0625rem;
    font-weight: 700;
    line-height: 1.55;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-variant-numeric: lining-nums tabular-nums;
    color: var(--ink);
  }

  .work__link {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
    border-bottom: 0;
    padding: 0.55rem 0;
    cursor: pointer;
    transition: color 160ms ease;
    -webkit-tap-highlight-color: transparent;
  }
  .work__link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.18rem;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 220ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .work__link:hover,
  .work__link:focus-visible {
    color: #ea242a;
  }
  .work__link:hover::after,
  .work__link:focus-visible::after {
    transform: scaleX(1);
  }
  .work__link:focus-visible {
    outline: 2px solid #ea242a;
    outline-offset: 4px;
  }
  .work__link:active {
    transform: translateY(1px);
  }
  @media (prefers-reduced-motion: reduce) {
    .work__link,
    .work__link::after {
      transition: none;
    }
  }

  @media (min-width: 720px) {
    .work {
      font-size: 1.125rem;
      line-height: 1.6;
    }
  }

  .footer {
    width: 100%;
    background: #d8d8d8;
    padding:
      clamp(1.5rem, 4vh, 3rem)
      max(1.25rem, env(safe-area-inset-right))
      clamp(2rem, 5vh, 3.5rem)
      max(1.25rem, env(safe-area-inset-left));
    box-sizing: border-box;
  }
  .footer__emblem {
    display: block;
    width: 100%;
    max-width: 44rem;
    height: auto;
    margin: 0 auto;
    fill: #0c0c0c;
  }
</style>
